- What is a dataframe (pandas)
- create df
- vectorized operations
- access rows, col, cell, 
- change values
- sort values

In [3]:
import pandas as pd

In [4]:
from typing import List
data_list: List[int]=[1,2,2,2,2,2,2,3,4,5]
data_list.count(2)

s1 = pd.Series(data_list)
s1

0    1
1    2
2    2
3    2
4    2
5    2
6    2
7    3
8    4
9    5
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
# DF= collection of Series objects

# dict creation
data = {
    "name":["emil", "jakob", "thomas", "Elin"],
    "age":[20,18,55,51],
    "work":["collage", "high school", "surgeon", "project leader"]
}
fam_df = pd.DataFrame(data=data)

fam_df

# Row based creation
import random

names = ["håland", "bolasie", "ødegård", "nusa"]
goals_pg=[random.random() for _ in names ]
games = [round(random.random()*1000) for _ in names]

cols = ["name", "goals/game", "games"]
stats = [(names[i], goals_pg[i], games[i]) for i in range(4)]
stats_df= pd.DataFrame(stats, columns=cols)
stats_df

      name  goals/game  games
0   håland    0.589888    395
1  bolasie    0.941059    491
2  ødegård    0.828362    997
3     nusa    0.834911    607

In [7]:
stats_df["games_won"]=[round(random.random()*1000) for _ in names]
stats_df["make_sense?"] = stats_df["games"] > stats_df["games_won"]
stats_df

      name  goals/game  games  games_won  make_sense?
0   håland    0.589888    395        833        False
1  bolasie    0.941059    491        617        False
2  ødegård    0.828362    997        529         True
3     nusa    0.834911    607        203         True

In [8]:
stats_df=stats_df.rename(columns={"goals/game":"goals_per_game"})
stats_df
stats_df.drop(columns="goals_per_game")

      name  games  games_won  make_sense?
0   håland    395        833        False
1  bolasie    491        617        False
2  ødegård    997        529         True
3     nusa    607        203         True

In [9]:
# filtering with .loc


stats_df.loc[1:3, "name"]

1    bolasie
2    ødegård
3       nusa
Name: name, dtype: object