In [38]:
import pandas as pd

url = "https://raw.githubusercontent.com/nkmwicz/data-for-students/refs/heads/main/french-ambs.csv"

df = pd.read_csv(url)
df.head(10)

   id                      name    place  year    lat   long      lat_long
0   0        Richer, Christophe  Denmark  1543  55.68  12.57  55.68, 12.57
1   1        Richer, Christophe  Denmark  1541  55.68  12.57  55.68, 12.57
2   2        Danzay, Charles de  Denmark  1561  55.68  12.57  55.68, 12.57
3   3        Danzay, Charles de  Denmark  1563  55.68  12.57  55.68, 12.57
4   4        Danzay, Charles de  Denmark  1582  55.68  12.57  55.68, 12.57
5   5        Bapaume, Robert de  England  1516  51.51  -0.12  51.51, -0.12
6   6  Passano, Jean-Joachim de  England  1527  51.51  -0.12  51.51, -0.12
7   7               De Monpreat  England  1532  51.51  -0.12  51.51, -0.12
8   8           Du Bellay, Jean  England  1530  51.51  -0.12  51.51, -0.12
9   9     Castelnau, Antoine de  England  1534  51.51  -0.12  51.51, -0.12

In [39]:
# file paths
# abs paths (bad)
# /path
# relative  (good)
# ./ [where we are now]
# ../ [go up one folder]
# ../../../
# ./data

In [40]:
#df.to_csv("./data/french-ambs.csv", index=False)

In [41]:
df = pd.read_csv("./data/french-ambs.csv")
df.head()

   id                name    place  year    lat   long      lat_long
0   0  Richer, Christophe  Denmark  1543  55.68  12.57  55.68, 12.57
1   1  Richer, Christophe  Denmark  1541  55.68  12.57  55.68, 12.57
2   2  Danzay, Charles de  Denmark  1561  55.68  12.57  55.68, 12.57
3   3  Danzay, Charles de  Denmark  1563  55.68  12.57  55.68, 12.57
4   4  Danzay, Charles de  Denmark  1582  55.68  12.57  55.68, 12.57

In [42]:
df.loc[df["place"]== "England","name"]

5            Bapaume, Robert de
6      Passano, Jean-Joachim de
7                   De Monpreat
8               Du Bellay, Jean
9         Castelnau, Antoine de
                 ...
817     La Pommeraie, Gilles de
818                   Pot, Jean
819              De Selve, Odet
820             La Fin, Jean de
821    L'Aubspine, Guillaume de
Name: name, Length: 93, dtype: object

In [43]:
# find location by index
df.iloc[[0,10],1 ]

0     Richer, Christophe
10        De Selve, Odet
Name: name, dtype: object

In [44]:
df.iloc[72]

id                                           72
name        Rougier, Fran√ßois, Baron of Ferrals
place                               Netherlands
year                                       1568
lat                                       52.37
long                                       4.89
lat_long                            52.37, 4.89
Name: 72, dtype: object

In [45]:
for i in range(10):
    print(df.iloc[i])

id                           0
name        Richer, Christophe
place                  Denmark
year                      1543
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 0, dtype: object
id                           1
name        Richer, Christophe
place                  Denmark
year                      1541
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 1, dtype: object
id                           2
name        Danzay, Charles de
place                  Denmark
year                      1561
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 2, dtype: object
id                           3
name        Danzay, Charles de
place                  Denmark
year                      1563
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 3, dtype: object
id                           4
name        Danzay, Charles de
place                  Denmark
year                      1582
lat                      55.68
long                     12.57
lat_long          55.68, 12.57
Name: 4, dtype: object
id                           5
name        Bapaume, Robert de
place                  England
year                      1516
lat                      51.51
long                     -0.12
lat_long          51.51, -0.12
Name: 5, dtype: object
id                                 6
name        Passano, Jean-Joachim de
place                        England
year                            1527
lat                            51.51
long                           -0.12
lat_long                51.51, -0.12
Name: 6, dtype: object
id                     7
name         De Monpreat
place            England
year                1532
lat                51.51
long               -0.12
lat_long    51.51, -0.12
Name: 7, dtype: object
id                        8
name        Du Bellay, Jean
place               England
year                   1530
lat                   51.51
long                  -0.12
lat_long       51.51, -0.12
Name: 8, dtype: object
id                              9
name        Castelnau, Antoine de
place                     England
year                         1534
lat                         51.51
long                        -0.12
lat_long             51.51, -0.12
Name: 9, dtype: object

In [46]:
df.iloc[0:3]

   id                name    place  year    lat   long      lat_long
0   0  Richer, Christophe  Denmark  1543  55.68  12.57  55.68, 12.57
1   1  Richer, Christophe  Denmark  1541  55.68  12.57  55.68, 12.57
2   2  Danzay, Charles de  Denmark  1561  55.68  12.57  55.68, 12.57

In [47]:
df.at[19,"place"]
df.iat[0,3]

np.int64(1543)

In [48]:
for col in df.columns:
    print(col, pd.api.types.is_numeric_dtype(df[col]))

id True
name False
place False
year True
lat True
long True
lat_long False

In [49]:
for idx, item in df.iterrows():
    print(item["place"])

Denmark
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Portugal
Rome
Portugal
Rome
Rome
Rome
Rome
Savoy
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Venice
Denmark
England
England
England
England
England
England
England
Grisons
England
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
Denmark
England
England
Denmark
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Savoy
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Ferrara
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Rome
Rome
Scotland
Scotland
Spain
Venice
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
Ferrara
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Spain
Spain
Scotland
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Poland
Poland
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Ferrara
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Rome
Rome
Rome
Rome
Rome
Savoy
Saxony
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Tuscany
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Venice
Denmark
Denmark
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Savoy
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Swiss Cantons
Venice
Venice
Holy Roman Empire

In [50]:
# itertuple() is faster

for item in df.itertuples():
    if item.place == "Denmark":
        df.at[item.Index, "place"] = "Den"
        

df["place"].unique() #get unique vvalues existing in colums

array(['Den', 'England', 'Geneva', 'Grisons', 'Holy Roman Empire',
       'Netherlands', 'Ottoman Empire', 'Portugal', 'Rome', 'Scotland',
       'Spain', 'Swiss Cantons', 'Venice', 'Poland', 'Savoy', 'Ferrara',
       'Saxony', 'Tuscany'], dtype=object)

In [51]:
# faster way of changing

df.loc[df["place"]== "England", "place"]="Eng."
df["place"].unique()

array(['Den', 'Eng.', 'Geneva', 'Grisons', 'Holy Roman Empire',
       'Netherlands', 'Ottoman Empire', 'Portugal', 'Rome', 'Scotland',
       'Spain', 'Swiss Cantons', 'Venice', 'Poland', 'Savoy', 'Ferrara',
       'Saxony', 'Tuscany'], dtype=object)

In [55]:
# .replace for multiple

#hash = {
#    "Holy Roman Empire": "HRE", 
#    "Geneva":"Gen."
#}

hash = {name:f"{name[:3]}." for name in df["place"].unique() if len(name) !=4}
df["place"]=df["place"].replace(hash)

In [ ]:
# pandas operators

df.loc[(df["place"]=="Den.")&(df["year"]<1561)&(df["year"]>1550)].count()

id          117
name        117
place       117
year        117
lat         117
long        117
lat_long    117
dtype: int64

In [59]:
imp_ambs = ["Eng.", "Den."]

df.loc[(df["place"].isin(imp_ambs))&(df["year"]<1561)&(df["year"]>1550)].count()

id          18
name        18
place       18
year        18
lat         18
long        18
lat_long    18
dtype: int64